IMAGE_TAG=registry.example.com/ifitwala/frappe-ed-drive:2026-03-26
FRAPPE_BASE_IMAGE=ghcr.io/frappe/frappe-worker:latest

IFITWALA_ED_REPO=https://git.example.com/ifitwala/ifitwala_ed.git
IFITWALA_ED_REF=main

IFITWALA_DRIVE_REPO=https://git.example.com/ifitwala/ifitwala_drive.git
IFITWALA_DRIVE_REF=main

PUSH_IMAGE=0
